html{
    position: fixed;
    height: 100svh;
    background: #121212 ;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* touch-action: manipulation; */
    /* touch-action: pan-x, pan-y; */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    overscroll-behavior-y: contain !important;
    color:black !important;

    
}
html,body{
    touch-action: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}
.mobile-responsive{
    height: 100svh;
    background: #121212  ;
    width: 100vw;

    /* width: 400px;
    margin-left: auto; */
}
.descriptionExpand,.description{
    display:flex;
    flex-direction:row;
    z-index:1;
    color:white;
    position:absolute; 
    bottom: 0;
    -webkit-margin-after:2.2vh;
    /* margin-bottom:7.5vh;

    /* margin-top:60vh; */
    color: #121212 ;
    background-image: linear-gradient(to bottom, rgba(18, 18, 18, 0.1) 0%, rgba(18, 18, 18, 0.2) 100%);
    /* Adjust color values and percentage for desired effect */      
    padding:0rem 2rem;
    width:100%;
    justify-content:space-between
}
@media only screen and (max-width: 600px) {
.mobile-responsive{
    width: 100vw;
}
.descriptionExpand,.description{
    display:flex;
    flex-direction:row;
    z-index:1;
    color:white;
    position:absolute;
    margin-bottom: 0.6vh;
    -webkit-margin-after:2vh;
    bottom:0;
    /* margin-bottom:6.9dvh !important; */
    height: 130px;
    /* top: 0;
    margin-top:58vh; */
    padding:0.5rem 1.5rem;
    width:100%;
    justify-content:space-between;
    overflow:hidden;
}
@supports (-webkit-appearance: none) {
    /* Target Safari and other WebKit browsers that support -webkit-appearance */
    .description {
        margin-bottom: 1.2vh;
        -webkit-margin-after:2.4vh;
    }
  }
.descriptionExpand{
    /* margin-top:44vh !important; */
    /* margin-bottom:9.5vh !important; */
    height: auto;
    overflow-y: scroll;
}
.descriptionInnerExpand{
    /* padding-bottom: 3dvh; */
}
}
.main-body{
    background: #121212 ;
    height: 100svh;
}
/* @media only screen and (min-width: 600px) {
    .main-body {
      width: 400px;
      background: #121212;
    }
  } */
.activeMenu2{
    /* filter: brightness(85%) sepia(100%) hue-rotate(-240deg) saturate(300%); */
    filter: invert(59%) sepia(93%) saturate(1171%) hue-rotate(360deg) brightness(102%) contrast(105%);
    transition:0.5s ;
    transform: scale(1.4);
}
.menu{
    /* filter: brightness(85%) sepia(100%) hue-rotate(-240deg) saturate(300%); */
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(147deg) brightness(107%) contrast(101%);
    /* filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(360deg) brightness(100%) contrast(100%); */

}
.activeMenu{
    /* filter: brightness(65%) sepia(100%) hue-rotate(-35deg) saturate(300%); */
    filter: invert(59%) sepia(93%) saturate(1171%) hue-rotate(360deg) brightness(102%) contrast(105%);
    color: #ffa500;
    /* transition:0.5s ;
    transform: scale(1.4); */
}
.menu-card{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
.menu-card-cart{
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}
.menu-item{
    background: #121212;
    border-radius: 15px;
    padding: 1rem;
    width: 90%;
    display: flex;
    flex-direction: row;
}
.menu-img{
width: 60%;
}
.cart-img{
    width: 40%;
    }
.menu-description{
color: white;
padding: 1rem;
}
.menu-description-cart{
    width: 100%;
    color: white;
    padding: 0.5rem 1rem;
    }
.view-more{
    color: #00a99d;
}
.special-text{
    color: #fbb03b;
    padding: 3px 0;
}
.add-cart{
    margin-top: 1rem;
    display: flex;
    justify-content: end;
}
.add-cart-count{
    /* margin-top: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-icon{
    display: flex;
    justify-content: center;
    /* text-align: end; */
}
.btn-container-checkout{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    /* padding-top: 6rem; */
    bottom: 0;
    margin-bottom: 1rem;
}
.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    /* padding: 5px 0; */
    /* height: 100%; */
    /* position: relative;
    bottom: 0; */
}
.cart-btn{
    padding: 5px 0;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 6px;

}
.cart-btn:hover{
    background: #121212;
}
.checkout-input{
    margin-top: 1.2rem;
    /* padding: 5px 25px; */
    width: 100%;
    text-align: center;
}
input{
    padding: 5px 25px; 
    text-align: center;
    border-radius: 8px;
    width: 70%;


}
video::-webkit-media-controls {
    display: none;
  }
  video::-webkit-media-controls-panel {
    opacity: 0;
  }
  body {
    touch-action: pan-x pan-y;

  }


  .swiper {
    width: 100%;
    height: 93.6vh;
    color:black;   
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #020A09;
  color:black;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-v {
    background: #eee;
  }
  html,
body {
  position: relative;
  height: 93.6vh;
}

body {
  background: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper-slide .activeMenu2,.swiper-slide .menu{
    /* padding: 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.swiper-slide .menuicon{
    width: 28px;
    height: auto;
}
.menuBar2 > .swiper-wrapper{
    display: flex;
    width:100%;
    /* justify-content: center; */
    /* justify-content: space-evenly !important; */
    /* margin-top: 5%; */
}
@media only screen and (min-width: 1100px) {
    .onlyMobile{
        position: relative;
        width: 400px !important;
    }
    body {
        background: #000000 !important;
        display: flex;
       justify-content: center;
        color: #000;
        
      }
}

.swiper-pagination-bullet-active{
    background-color: orange !important;
}
.swiper-button-next{
    /* color: #00a99d !important;
    background-color: #fbb03b !important;
    z-index: 111;
    opacity: 1 !important; */
    /* width: 30px;
    height: 30px; */
}
.swiper-button-next,
.swiper-button-prev {
  /* text-rendering: auto; */
  /* background-image: url('https://admin.komandapp.com/uploads/category_icons/cheese-cake-01-stroke-sharp.svg'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px !important;
    height: 20px !important;
    z-index: 999;
    position: absolute;
    margin-top: 5px;
    visibility: visible;
}
.swiper-button-next{
    background-image: url('./assets/right-arrow.png');
    right: 0;
}
.swiper-button-prev{
    background-image: url('./assets/left-arrow.png');
    left: 0;
}
.swiper-button-disabled{
    visibility: hidden !important;
}
.webkitMarginClass{
    -webkit-margin-before:25px !important;
}

.shaded-section {
    position: relative; /* Required for proper background layering */
    background: transparent; /* Base background for transparency */
    width: 100%; /* Adjust as needed */
    height: 100vh; /* Adjust as needed */
    background-image: linear-gradient(to bottom, rgba(18, 18, 18, 0.15) 0%, rgba(18, 18, 18, 0.3) 100%) !important; 
    /* Gradient Overlay with Slight Opacity */
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* background: linear-gradient(transparent 0%, #121212A0 100%);  */
      background-image: linear-gradient(to bottom, rgba(18, 18, 18, 0.15) 0%, rgba(18, 18, 18, 0.3) 100%) !important; 
      z-index: 1; /* Ensure overlay is on top of content */
    }
  }
  